@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #F6FDFF;
  background: -webkit-linear-gradient(top left, #F6FDFF, #C2C6C6);
  background: -moz-linear-gradient(top left, #F6FDFF, #C2C6C6);
  background: linear-gradient(to bottom right, #F6FDFF, #C2C6C6);
  min-height: 100vh;
}

.quiz-container{
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
}

.quiz-header{
  padding: 1.5rem;
}

.quiz-container h2{
  font-size: 1.3rem;
  padding: 0 3rem;
  color: rgb(140, 45, 184);
}

.quiz-container ul{
  list-style-type: none;
  padding: 2rem 3.5rem 3rem;
  color: #333;
}

.quiz-container li{

}

.quiz-container li label{
  cursor: pointer;
}

.quiz-container button{
  display: block;
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: rgb(167, 54, 219);
  font-size: 1rem;
  cursor: pointer;
  
}

.quiz-container button:hover{
  background-color: rgb(140, 45, 184);
}